body {
  background-color: $body-color;
}

.main {

}

.section-nav {
    height: 300px;
    background-color: grey;
    width: 100vw;
}

.main-content {

}

li {
    list-style: none;
    padding: 10px;
    border: 2px solid red;
    margin-bottom: 2px;
}
