
@font-face {
  font-family: 'Majesti-Banner-Heavy';
  src: url('fonts/Majesti-Banner-Heavy.eot'); /* IE9 Compat Modes */
  src: url('fonts/Majesti-Banner-Heavy.eot?#iefix') format('embedded-opentype') 
       url('fonts/Majesti-Banner-Heavy.woff2') format('woff2'), 
       url('fonts/Majesti-Banner-Heavy.woff') format('woff'), 
       url('fonts/Majesti-Banner-Heavy.ttf')  format('truetype'), 
       url('fonts/Majesti-Banner-Heavy.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
h1 {
    display: block;
    font-size: 15em;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 0 0 0 0 ;
    padding: 0 0 0 0 ;
}
.flex-container {
    height: 50vh;
    flex: 1 1 500px;
    display: block;
/*    border: 1px solid pink;*/
}
.letter {
    transform: translateX(-50%);
    margin-left: 50%;
}
/*--------- A ----------*/
.a-container {
    color: #a84420;
    font-family: 'Majesti-Banner-Heavy', sans-serif;
}

/*--------- M ----------*/
.m-container {
    color: #5f9797;
}
/*--------- Y ----------*/
.y-container {
    color: #8a5cd1;
}

.e-container {
}
.e {
   /* background-color: orange;*/
    color: rgba(72, 102, 251, 1);
}
/*--------- c ----------*/
.c-container {
    position: relative;
}
.c1 {
    position: absolute;
    top: 0;
    left: 0;
    color: hsl(147, 89%, 32%);
    opacity: 1;    
}
.c2 {
    position: absolute;
    top: 5px;
    left: 5px;
    color: hsl(130, 89%, 32%);
    opacity: 0.8;
}
.c3 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: hsl(128, 34%, 63%);
    opacity: 0.8;  
}
.c4 {
    position: absolute;
    top: 15px;
    left: 15px;
    color: hsl(89, 48%, 53%);
    opacity: 0.8;
}
     
/*--------- K ----------*/
.k-container {
    color: rgba(152, 152, 62, 1);
    filter: blur(0px);
    transition: all 0.5s;

}
.k-container:hover {
    filter: blur(70px);
}
/*--------- E2 ----------*/
.e2-container{
    color: #b56618;
    
}

/*--------- R ----------*/
.r-container{
    color: #68b7d5;
}

/*--------- T ----------*/
.t-container {
    color: #820064;
}




