// .wrapper {
//   align-items: center;
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: center;
//   min-height: 100vh;
//   overflow: hidden;
// }

.flex-container {
  display: flex;
  flex: 1 1 0;
}

.letter {
  padding: 0;
  height: 100%;
  margin: 0 0 50%;
  font-size: 15em;
  font-family: $base-font;
  text-transform: uppercase;

  //background-color: orange;
}

//--------- A ----------

.a-container {
  color: #a84420;
}

//--------- M ----------

.m-container {
    color: #5f9797;
}

//--------- Y ----------

.y-container {
  color: #8a5cd1;
}

//--------- E ----------
.e-container {}

.e {
  color: rgba(72, 102, 251, 1);
}

//--------- c ----------
.c-container {
  position: relative;
  color: white; 
  
  .c1 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    text-shadow:
      5px 5px hsla(130, 89%, 32%, .8 ),
      10px 10px hsla(128, 34%, 63%, .6),
      15px 15px hsla(89, 48%, 53%, .4);
    filter: blur(20px);
  }
  
  .c2 {
    position: absolute;
    top: 0;
    left: 0;
    color: hsl(130, 89%, 32%);
    opacity: 0.8;
  }
  
  .c3 {
    position: absolute;
    top: 0;
    left: 0;
    color: hsl(128, 34%, 63%);
    opacity: .8;
  }
  
  .c4 {
    position: absolute;
    top: 0;
    left: 0;
    color: hsl(89, 48%, 53%);
    opacity: .8;
  }

}
    
//--------- K ----------
.k-container {
  color: rgba(152, 152, 62, 1);
  transition: all .5s;
  filter: blur(0);
}

.k-container:hover {
  filter: blur(100px);
}

//--------- E2 ----------
.e2-container{
  color: #b56618;
    
}

//--------- R ----------
.r-container{
  color: #68b7d5;
}

//--------- T ----------
.t-container {
  color: #820064;
}




