

// flex containers
.flex-container {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // flex: 1 1 0;
}

.letter {
  padding: 0;
  height: 100%;
  text-transform: uppercase;
  font-size: 25rem;
  font-family: $base-font;

  @include bem-m('a') {
      color: #a84420;
  }

  @include bem-m('m') {
    color: #5f9797;

  }

  @include bem-m('y') {
    color: #8a5cd1;
  }

  @include bem-m('e1') {
    color: rgba(72, 102, 251, 1);
  }

  @include bem-m('c') {
    color: white;
  }

  @include bem-m('k') {
    color: rgba(152, 152, 62, 1);
    transition: all .5s;
    filter: blur(0);

    &:hover {
      filter: blur(100px);
    }
  }

  @include bem-m('e2') {
    color: #b56618;
  }

  @include bem-m('r') {
    color: #68b7d5;
  }

  @include bem-m('t') {
    color: #820064;
  }

}

