.flex-container {
  display: flex;
  flex: 1 1 0;
}

.letter {
  padding: 0;
  height: 100%;
  font-family: $base-font;
  font-size: 15em;
  text-transform: uppercase;
  
  //background-color: orange;
}

//--------- A ----------

.a-container {
  color: #a84420;
}

//--------- M ----------

.m-container {
    color: #5f9797;
}

//--------- Y ----------

.y-container {
  color: #8a5cd1;
}

//--------- E ----------
.e-container {}

.e {
  color: rgba(72, 102, 251, 1);
}

//--------- c ----------
.c-container {
  color: white;
}
    
//--------- K ----------
.k-container {
  color: rgba(152, 152, 62, 1);
  transition: all .5s;
  filter: blur(0);
}

.k-container:hover {
  filter: blur(100px);
}

//--------- E2 ----------
.e2-container{
  color: #b56618;
    
}

//--------- R ----------
.r-container{
  color: #68b7d5;
}

//--------- T ----------
.t-container {
  color: #820064;
}




