// Parallax effect above 992px:
@media (min-width: 992px) {

    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {

        .parallax {
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
            perspective: 300px;
            perspective-origin-x: 100%;
            scroll-behavior: smooth;
            opacity: 0.3;
            // max-width: 50%;
            // margin: 0 auto;

            @include bem-e('group') {
                position: relative;
                height: 100vh;
                transform-style: preserve-3d;
                transition: transform 0.5s;

                @include bem-m('first') {
                    z-index: $z-fore;
                    margin-top: 75px;
                }

                @include bem-m('last') {
                    z-index: $z-deep;
                }
            }

            @include bem-e('layer') {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform-origin-x: 100%;

                @include bem-m('very-deep') {
                    z-index: 5;
                    transform: translateZ(-1000px);
                }

                @include bem-m('deep') {
                    transform: translateZ(-700px);
                    z-index: 4;
                }

                @include bem-m('back') {
                    transform: translateZ(-400px);
                    z-index: 4;
                }

                @include bem-m('base') {
                    transform: translateZ(-200px);
                    z-index: 3;
                }

                @include bem-m('fore') {
                    z-index: 2;
                    transform: translateZ(-75px);
                }

                @include bem-m('front') {
                    z-index: 1;
                    transform: translateZ(0px) ;
                }
            }
        }
    }
}

